<!DOCTYPE html>

{% assign hasLang = false %}
{% for lang in site.data.i18n %}
	{% if page.lang == lang %}
		{% assign hasLang = true %}
	{% endif %}
{% endfor %}
{% if hasLang == false %}
	{% assign page.lang = 'en' %}
{% endif %}

{% assign i18n = site.data.i18n[page.lang] %}

<html lang="{{ page.lang }}">
    {% include head.html %}
    <body id="page-top" class="index">
	    {% include nav.html %}
	    {% include header.html %}
	    {% include portfolio_grid.html %}
	    {% include about.html %}

	    {% if site.contact == "static" %}
	    {% include contact_static.html %}
	    {% elsif site.contact == "disqus" %}
	    {% include contact_disqus.html %}
	    {% else %}
	    {% include contact.html %}
	    {% endif %}

	    {% include footer.html %}
	    {% include modals.html %}
	    {% include js.html %}
    </body>
</html>
